<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h1>Formulario</h1>
      <p style="font-size: smaller">Todos los campos son obligatorios</p>
      <form [formGroup]="searchForm" (ngSubmit)="search()">
        <div class="mb-3">
          <label class="form-label">Tipo de documento</label>
          <select
            class="form-select"
            (change)="changeDocType($event)"
            formControlName="docType"
          >
            <option
              class="form-control"
              *ngFor="let doc of docTypesList"
              [value]="doc.value"
            >
              {{ doc.name }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Número de documento</label>
          <input
            type="text"
            class="form-control"
            formControlName="docNumber"
            (keyup)="changeDocNumber($event)"
            mask="000'000'000'00"
          />

          <div *ngIf="searchForm.controls['docNumber'].errors?.minLength">
            El número de caracteres minimo es de 8
          </div>
        </div>

        <div class="mb-3">
          <button
            class="btn col-12 btn-md rounded-pill btn-primary"
            type="submit"
            [disabled]="searchForm.invalid || submitted"
          >
            <span style="font-size: smaller"> Buscar</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
